<%= form_for :movie, url: movie_path(@movie), method: :put do |f| %>
  <p>
<%= f.label :movie_title %><br>
    <%= f.text_field :title %>
  </p>
<p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
<p>
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </p>

 
  <p>
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>