<%= form_for :user, url: movie_users_path do |f| %>
  <p>
<%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
<p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>
<p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>

 
  <p>
<%= f.label :gender %><br>
    <%= f.text_field :gender %>

  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>